<!DOCTYPE html>  
<html>  
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- header scripts -->
  </head>
  <body>

    <header>
      <h1><%= title %></h1>
    </header>

    <%- body %>

    <footer>Copyright hoge</footer>
    <!-- footer scripts -->
  </body>
</html> 